apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: aegonish-ingress
  namespace: aegonish
spec:
  ingressClassName: nginx
  rules:
    - host: localhost
      http:
        paths:
          # Frontend
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80

          # Backend API
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 4000

          # Uploads (backend serves these)
          - path: /uploads
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 4000
