
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart: https://kubernetes.github.io/ingress-nginx
  version: 4.11.1
  targetNamespace: ingress-nginx
