apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
    # Core ArgoCD install (NO Dex)
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/core-install.yaml

  # Your ArgoCD project & application
  - project.yaml
  - application.yaml


patches:
  # Disable Dex
  - path: argocd-disable-dex.yaml
    target:
      kind: ConfigMap
      name: argocd-cm

  # Delete Dex deployment
  - patch: |-
      $patch: delete
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: argocd-dex-server
    target:
      kind: Deployment
      name: argocd-dex-server
