apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/core-install.yaml

patches:
  - path: argocd-disable-dex.yaml
    target:
      kind: ConfigMap
      name: argocd-cm
  - patch: |-
      $patch: delete
      apiVersion: apps/v1
      kind: Deployment
      metadata: 
      name: argocd-dex-server
