
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: aegonish-local
  namespace: argocd
spec:
  sourceRepos:
    - '*'
  destinations:
    - namespace: aegonish
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
