
apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: aegonish
servers: 1
agents: 2
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
      - arg: "--disable=traefik"
        nodeFilters:
          - server:*
